In [2]:
import pandas as pd

In [3]:
all_df = pd.read_csv("data/EPL2019_2020.csv")

In [4]:
all_df[:2]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92

In [8]:
cols = ['FTR','HomeTeam','AwayTeam','FTHG','FTAG','HS','AS','HST','AST','WHH','WHD','WHA','WHCH','WHCD','WHCA','AvgH','AvgD','AvgA','AvgCH','AvgCD','AvgCA','AHh','B365AHH','B365AHA','AHCh','B365CAHH','B365CAHA']

In [9]:
need_df=all_df[cols]

In [10]:
need_df[:2]

,FTR,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,WHH,...,AvgA,AvgCH,AvgCD,AvgCA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA
0,H,Liverpool,Norwich,4,1,15,12,7,5,1.12,...,19.83,1.14,9.52,19.18,-2.25,1.96,1.94,-2.25,1.91,1.99
1,A,West Ham,Man City,0,5,5,14,3,9,13.00,...,1.25,11.14,6.46,1.26,1.75,2.00,1.90,1.75,1.95,1.95

In [43]:
def getHomeTeamSummary(team_name, df):
    home_df = df[(df['HomeTeam'] == team_name)]
    
    total_match = len(home_df)
    win_match = len(home_df[(home_df['FTR'] == 'H')])
    win_ratio = win_match / total_match

    draw_match = len(home_df[(home_df['FTR'] == 'D')])
    draw_ratio = draw_match / total_match

    lose_match = len(home_df[(home_df['FTR'] == 'A')])
    lose_ratio = lose_match / total_match
    
    home_goals = home_df['FTHG'].sum()
    home_loss = home_df['FTAG'].sum()

    # wh_home_win = home_df[((home_df['WHCH'] < home_df['WHCA']) & (home_df['WHCH'] < home_df['WHCD'])) &  (home_df['TFR'] == 'H')]
    # wh_home_win_count = len(wh_home_win)

    
    return dict(
                total_match = total_match, 
                win_match = win_match, 
                win_ratio = win_ratio,
                draw_match = draw_match,
                draw_ratio = draw_ratio,
                lose_match = lose_match,
                lose_ratio = lose_ratio,
                home_goals = home_goals, 
                home_loss = home_loss,      

                )

In [44]:
home_summary = getHomeTeamSummary('Liverpool',need_df)

In [45]:
home_summary['win_ratio']

1.0

In [46]:
home_summary['home_goals']

26

In [47]:
home_summary['home_loss']

9

In [34]:
home_df = need_df[(need_df['HomeTeam'] == 'Liverpool')]

In [35]:
home_df

,FTR,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,WHH,...,AvgA,AvgCH,AvgCD,AvgCA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA
0,H,Liverpool,Norwich,4,1,15,12,7,5,1.12,...,19.83,1.14,9.52,19.18,-2.25,1.96,1.94,-2.25,1.91,1.99
26,H,Liverpool,Arsenal,3,1,25,9,5,3,1.47,...,6.09,1.47,4.96,6.34,-1.25,2.03,1.87,-1.25,1.96,1.94
40,H,Liverpool,Newcastle,3,1,21,8,9,1,1.14,...,19.45,1.20,7.31,14.15,-2.25,2.03,1.90,-1.75,1.82,1.97
72,H,Liverpool,Leicester,2,1,18,2,8,1,1.44,...,7.00,1.58,4.36,5.65,-1.25,2.07,1.86,-1.00,2.03,1.90
98,H,Liverpool,Tottenham,2,1,21,11,13,4,1.52,...,6.11,1.48,4.80,6.44,-1.00,1.92,2.01,-1.25,2.02,1.91
119,H,Liverpool,Man City,3,1,12,18,5,3,2.55,...,2.68,2.69,3.64,2.55,0.00,1.90,2.03,0.00,2.02,1.91
133,H,Liverpool,Brighton,2,1,15,12,7,5,1.20,...,14.67,1.20,7.21,14.46,-2.00,2.02,1.77,-2.00,1.97,1.82
147,H,Liverpool,Everton,5,2,11,12,5,4,1.36,...,8.28,1.62,4.04,5.79,-1.25,1.91,2.02,-0.75,1.83,2.10
160,H,Liverpool,Watford,2,0,16,8,6,2,1.15,...,16.32,1.18,7.65,15.15,-2.00,1.86,2.04,-2.25,2.02,1.77

In [49]:
home_df[((home_df['WHCH'] < home_df['WHCA']) & (home_df['WHCH'] < home_df['WHCD'])) &  (home_df['FTR'] == 'H') ]

,FTR,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,WHH,...,AvgA,AvgCH,AvgCD,AvgCA,AHh,B365AHH,B365AHA,AHCh,B365CAHH,B365CAHA
0,H,Liverpool,Norwich,4,1,15,12,7,5,1.12,...,19.83,1.14,9.52,19.18,-2.25,1.96,1.94,-2.25,1.91,1.99
26,H,Liverpool,Arsenal,3,1,25,9,5,3,1.47,...,6.09,1.47,4.96,6.34,-1.25,2.03,1.87,-1.25,1.96,1.94
40,H,Liverpool,Newcastle,3,1,21,8,9,1,1.14,...,19.45,1.20,7.31,14.15,-2.25,2.03,1.90,-1.75,1.82,1.97
72,H,Liverpool,Leicester,2,1,18,2,8,1,1.44,...,7.00,1.58,4.36,5.65,-1.25,2.07,1.86,-1.00,2.03,1.90
98,H,Liverpool,Tottenham,2,1,21,11,13,4,1.52,...,6.11,1.48,4.80,6.44,-1.00,1.92,2.01,-1.25,2.02,1.91
119,H,Liverpool,Man City,3,1,12,18,5,3,2.55,...,2.68,2.69,3.64,2.55,0.00,1.90,2.03,0.00,2.02,1.91
133,H,Liverpool,Brighton,2,1,15,12,7,5,1.20,...,14.67,1.20,7.21,14.46,-2.00,2.02,1.77,-2.00,1.97,1.82
147,H,Liverpool,Everton,5,2,11,12,5,4,1.36,...,8.28,1.62,4.04,5.79,-1.25,1.91,2.02,-0.75,1.83,2.10
160,H,Liverpool,Watford,2,0,16,8,6,2,1.15,...,16.32,1.18,7.65,15.15,-2.00,1.86,2.04,-2.25,2.02,1.77

In [56]:
def getAwayTeamSummary(team_name, df):
    away_df = df[(df['AwayTeam'] == team_name)]
    
    total_match = len(away_df)
    win_match = len(away_df[(away_df['FTR'] == 'A')])
    win_ratio = win_match / total_match

    draw_match = len(away_df[(away_df['FTR'] == 'D')])
    draw_ratio = draw_match / total_match

    lose_match = len(away_df[(away_df['FTR'] == 'H')])
    lose_ratio = lose_match / total_match
    
    away_goals = away_df['FTAG'].sum()
    away_loss = away_df['FTHG'].sum()

    # wh_home_win = home_df[((home_df['WHCH'] < home_df['WHCA']) & (home_df['WHCH'] < home_df['WHCD'])) &  (home_df['TFR'] == 'H')]
    # wh_home_win_count = len(wh_home_win)

    
    return dict(
                total_match = total_match, 
                win_match = win_match, 
                win_ratio = win_ratio,
                draw_match = draw_match,
                draw_ratio = draw_ratio,
                lose_match = lose_match,
                lose_ratio = lose_ratio,
                away_goals = away_goals, 
                away_loss = away_loss,      

                )

In [57]:
away_summary = getAwayTeamSummary('Liverpool',need_df)

In [58]:
away_summary

{'total_match': 8,
 'win_match': 7,
 'win_ratio': 0.875,
 'draw_match': 1,
 'draw_ratio': 0.125,
 'lose_match': 0,
 'lose_ratio': 0.0,
 'away_goals': 16,
 'away_loss': 5}